<div class="flex flex-col justify-between h-full">
	<div class="tabs">
		@for (item of menuItems(); track item) {
		<a [routerLink]="item.route">
			<mat-icon>{{ item.icon }}</mat-icon>
			<span *ngIf="!isCollapsed()">{{ item.label }}</span>
		</a>
		}
	</div>
	<button routerLink="user" class="ds-btn rounded-full px-0">
		<div class="user">
			<img src="https://github.com/takahashinguyen.png" />
			<p *ngIf="!isCollapsed()">
				Nguyễn Việt Anh aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
			</p>
		</div>
	</button>
</div>
