<cp-map />
<div class="sidebar">
	<div class="flex flex-row h-full w-fit">
		<div class="tabs flex flex-col h-full z-10">
			<button
				class="flex-none"
				(click)="toggleMenu()"
				[ngClass]="
					isCollapsed()
						? 'ds-btn ds-btn-circle scale-75 h-12'
						: 'ds-btn rounded-[24px] w-full static h-9'
				"
			>
				<div class="menu" [ngClass]="isCollapsed() ? '' : 'w-full'">
					<mat-icon>{{ menuIcon() }}</mat-icon>
					<p *ngIf="!isCollapsed()">TmplRV</p>
				</div>
			</button>
			<cp-sidenav [isCollapsed]="isCollapsed" class="flex-1" />
		</div>
		<div class="content">
			<router-outlet />
		</div>
	</div>
</div>
