mat-sidenav-container
	height: 100%

mat-sidenav
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
	width: auto !important

app-sidenav
	display: flex
	flex-direction: column
	max-width: 18dvw

button
	width: 100%
	border-radius: 0px
	border-width: 0px
